name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create release artifact
        run: |
          mkdir -p build
          git archive --format=zip --output=build/laravel-featureflags-${{ github.ref_name }}.zip HEAD

      - name: Upload artifact to release
        uses: softprops/action-gh-release@v2
        with:
          files: build/laravel-featureflags-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
